<mat-tab-group>
  <ng-container *ngFor="let tab of tabs; let index = index">
    <mat-tab *ngIf="closedTabs.indexOf(index) < 0">
      <ng-template mat-tab-label>
        <div class="col">{{tab.name}}</div>
        <button class="btn-close" aria-label="Close" (click)="closeTab($event, index)">
        </button>
      </ng-template>

      <span [ngSwitch]="tab.tabType">
      <div *ngSwitchCase="0" style="height: calc(100% - 30px);">
        Case 2
      </div>
      <div *ngSwitchCase="1" style="height: calc(100% - 8px);">
        Case 1
      </div>
      <div *ngSwitchDefault>
        Default
      </div>
    </span>

    </mat-tab>
  </ng-container>
</mat-tab-group>
